@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --sidebar-background: #202020;
    --sidebar-background-secondary: #303030;

    --card-background: #1A1A1A;

    --text-primary: white;
    --text-focus-secondary: #fafa50;
    --text-focus: #6563EE;
    --text-focus-background: rgba(101, 99, 238, .20);

    --active-button: #5050FA;

    --income-text: #5DFA52;
    --income-background: rgba(93, 250, 82, 0.25);

    --loss-text: #D33F49;
    --loss-background: rgba(211, 63, 73, 0.25);
  }
}

@font-face {
  font-family: 'Monocraft';
  src: url('/public/Monocraft.ttf') format(truetype);
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: 'Monocraft', sans-serif;
}